<template>
    <div>
        <q-card v-if="selIntention">
            <q-tabs
                v-model="tab"
                dense
                class="bg-grey-3"
                align="justify"
                narrow-indicator
            >
                <q-tab name="examples" label="Ejemplos" />
                <q-tab name="answers" label="Respuesta" />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
                <q-tab-panel name="examples">
                    <div class="row" style="align-items: center">
                        <InputBox
                            v-model="filterExamples"
                            title="Filtro"
                            class="col"
                        />
                        <q-chip
                            icon="event"
                            text-color="white"
                            color="primary"
                            class="totals"
                        >
                            Total:{{ examplesList.length }}</q-chip
                        >
                    </div>
                    <q-scroll-area style="height: 84vh">
                        <q-list bordered separator :filter="filterExamples">
                            <div
                                v-for="(ej, i) in examplesList"
                                :key="i"
                                @click="editExample(ej, i)"
                            >
                                <q-item class="itemRow">
                                    <q-item-section>
                                        <div v-if="editExampId !== i">
                                            {{ ej.text }}
                                        </div>
                                        <q-input
                                            v-if="editExampId === i"
                                            v-model="editExampText"
                                            label="Ejemplo"
                                            autofocus
                                            @blur="confirmSaveExample(ej.text)"
                                            @keyup.enter="
                                                confirmSaveExample(ej.text)
                                            "
                                        />
                                    </q-item-section>
                                    <q-item-section v-if="ej.dirty" avatar>
                                        <q-avatar
                                            color="secondary"
                                            text-color="white"
                                            icon="star"
                                            class="shadow-2"
                                            size="sm"
                                        />
                                    </q-item-section>
                                </q-item>
                            </div>
                        </q-list>
                    </q-scroll-area>
                </q-tab-panel>

                <q-tab-panel name="answers">
                    <div class="q-pa-md">
                        <q-item>
                            <q-item-section @click="editAnswer">
                                <div
                                    v-if="
                                        editResText === '' &&
                                        selIntention.respuesta
                                    "
                                >
                                    {{ selIntention.respuesta.text }}
                                </div>
                                <q-input
                                    v-if="editResText !== ''"
                                    v-model="editResText"
                                    label="Respuesta"
                                    autofocus
                                    type="textarea"
                                    @blur="confirmSaveAnswer"
                                    @keyup.enter="confirmSaveAnswer"
                                />
                            </q-item-section>
                            <q-item-section
                                v-if="
                                    selIntention.respuesta &&
                                    selIntention.respuesta.dirty
                                "
                                avatar
                            >
                                <q-avatar
                                    color="secondary"
                                    text-color="white"
                                    icon="star"
                                    class="shadow-6"
                                />
                            </q-item-section>
                        </q-item>
                        <!--<q-slide-item
                            @left="onLeft"
                            @right="onRight"
                            left-color="secondary"
                            right-color="negative"
                        >
                            <template v-slot:left>
                                <div
                                    class="row items-center cursor-pointer"
                                    @click="editAnswer"
                                >
                                    <q-icon left name="create" /> Editar
                                </div>
                            </template>
                            <template v-slot:right>
                                <div
                                    class="row items-center cursor-pointer"
                                    @click="removeAnswer"
                                >
                                    Eliminar
                                    <q-icon right name="delete_forever" />
                                </div>
                            </template>

                        </q-slide-item>-->
                    </div>
                </q-tab-panel>
            </q-tab-panels>
        </q-card>
        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-fab
                vertical-actions-align="right"
                color="primary"
                glossy
                icon="keyboard_arrow_up"
                direction="up"
            >
                <!-- <q-fab-action
                color="accent"
                glossy
                @click="trainTest"
                icon="psychology"
            >
                <q-tooltip
                    :delay="1000"
                    anchor="center left"
                    self="center right"
                    transition-show="scale"
                    transition-hide="scale"
                    :offset="[10, 10]"
                >
                    <div class="tt">Entrenar en TEST</div></q-tooltip
                >
            </q-fab-action>
            <q-fab-action
                color="accent"
                glossy
                @click="trainProd"
                icon="school"
            >
                <q-tooltip
                    :delay="1000"
                    anchor="center left"
                    self="center right"
                    transition-show="rotate"
                    transition-hide="rotate"
                    :offset="[10, 10]"
                >
                    <div class="tt">Producción</div></q-tooltip
                >
            </q-fab-action> -->
                <q-fab-action
                    color="secondary"
                    glossy
                    @click="downloadFiles"
                    icon="cloud_download"
                >
                    <q-tooltip
                        :delay="1000"
                        anchor="center left"
                        self="center right"
                        transition-show="scale"
                        transition-hide="rotate"
                        :offset="[10, 10]"
                    >
                        <div class="tt">
                            Guardar cambios en archivos
                        </div></q-tooltip
                    >
                </q-fab-action>
            </q-fab>
        </q-page-sticky>
    </div>
</template>

<script>
import InputBox from '../../components/InputBox'
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
    name: 'detail',
    data() {
        return {
            filterExamples: '',
            tab: 'examples',
            editExampId: -1,
            editExampText: '',
            editResText: '',
            intentionsDialog: false,
            examplesDialog: false,
        }
    },
    computed: {
        ...mapState('bot', ['selMode', 'selIntention', 'dirtyFlag']),
        examplesList() {
            console.log('Detail examplesList dirtyFlag: ', this.dirtyFlag)
            const lst = this.selIntention.ejemplos.filter(
                (x) =>
                    (x.text
                        .toLowerCase()
                        .indexOf(this.filterExamples.toLowerCase()) > -1 &&
                        this.dirtyFlag === false) ||
                    x.dirty === true
            )
            console.log('examplesList: ', lst.length)
            return lst
        },
    },
    watch: {
        status(newValue, oldValue) {
            console.log(`Updating from ${oldValue} to ${newValue}`)
            if (newValue === 'success') {
                this.complex = {
                    deep: 'some deep object',
                }
            }
        },
    },
    methods: {
        ...mapActions('bot', ['downloadFiles', 'saveExample', 'saveAnswer']),
        onLeft({ reset }) {
            this.finalize(reset)
        },
        onRight({ reset }) {
            this.finalize(reset)
        },
        finalize(reset) {
            this.timer = setTimeout(() => {
                reset()
            }, 1000)
        },
        editExample(ej, i) {
            console.log('editExample:', ej, i)
            this.editExampText = ej.text
            this.editExampId = i
        },
        removeExample(i) {},
        confirmSaveExample(txt) {
            if (this.editExampText !== txt) {
                this.$q
                    .dialog({
                        title: 'Atención',
                        message: 'Desea guardar el cambio?',
                        cancel: true,
                        persistent: true,
                    })
                    .onOk(async () => {
                        try {
                            this.saveExample({
                                text: this.editExampText,
                                id: this.editExampId,
                            })
                            this.editExampId = -1
                            this.editExampText = ''
                        } catch (error) {
                            console.log(error)
                        }
                    })
                    .onCancel(() => {
                        console.log('>>>> Cancel')
                        this.editExampId = -1
                        this.editExampText = ''
                    })
            }
            if (this.editExampText === txt) {
                this.editExampId = -1
                this.editExampText = ''
            }
        },
        editAnswer() {
            this.editResText = this.selIntention.respuesta.text
        },
        removeAnswer() {},
        confirmSaveAnswer() {
            this.$q
                .dialog({
                    title: 'Atención',
                    message: 'Desea guardar la respuesta?',
                    cancel: true,
                    persistent: true,
                })
                .onOk(async () => {
                    try {
                        this.saveAnswer(this.editResText)
                        this.editResText = ''
                    } catch (error) {
                        console.log(error)
                    }
                })
                .onCancel(() => {
                    console.log('>>>> Cancel')
                    this.editResText = ''
                })
        },
        trainTest() {},
        trainProd() {},
    },
    beforeDestroy() {
        clearTimeout(this.timer)
    },
    components: {
        InputBox,
    },
}
</script>

<style scoped>
.itemRow {
    min-height: 0;
    padding: 3px 10px;
}
.totals {
    height: 56px;
    border-radius: 3px;
    margin: 0;
}
.edited {
    background-color: lightsalmon;
}
</style>
