<template>
    <q-card
        :class="{ fileSelected: file !== null }"
        class="col fileCard text-white shadow-11"
    >
        <q-card-section>
            <div class="text-h6">{{ title }}</div>
            <div class="text-subtitle2">Archivo *.{{ extension }}</div>
            <div class="q-pa-xs">
                <q-file
                    style="margin-top: 20px"
                    clearable
                    bg-color="white"
                    filled
                    color="white"
                    v-model="file"
                    bottom-slots
                    counter
                    label="subir archivo"
                    :filter="validate"
                    @rejected="onRejected"
                >
                </q-file>
            </div>
        </q-card-section>
    </q-card>
</template>

<script>
export default {
    props: ['value', 'title', 'extension', 'mime'],
    data() {
        return {}
    },
    computed: {
        file: {
            get() {
                return this.value
            },
            set(v) {
                this.$emit('input', v)
            },
        },
    },
    methods: {
        validate(files) {
            return files.filter((file) => {
                const res = file.type === this.mime || file.type === '' // file.type === 'application/vnd.ms-excel'
                console.log(this.title + ' validation: ', res)
                return res
            })
        },
        onRejected(rejectedEntries) {
            console.log('rejectedEntries:', rejectedEntries)
            this.$q.notify({
                type: 'negative',
                message: `${rejectedEntries.length} El archivo no posee la extension solicitada`,
            })
        },
    },
}
</script>

<style scoped>
.fileCard {
    max-width: 40vw;
    height: 250px;
    margin: 5vw;
    background: radial-gradient(circle, #acd9fd 10%, #4488bb 100%);
}
.fileSelected {
    box-shadow: inset 2px 2px 5px black;
}
</style>
