/* eslint-disable no-loop-func */
<template>
    <div>
        <div v-if="!initOK">
            <div v-if="!selMode" class="title">
                <div>Bot Trainer v1.0</div>
                <div class="row justify-center q-pa-md q-gutter-sm">
                    <q-btn
                        @click="loadMocks"
                        align="between"
                        label="MOCKS"
                        class="glossy"
                        padding="xl"
                        color="primary"
                        style="border-radius: 10px"
                        icon="eco"
                    />
                    <q-btn
                        @click="loadFiles"
                        align="between"
                        label="FILES"
                        class="glossy"
                        padding="xl"
                        color="primary"
                        style="border-radius: 10px"
                        icon="eco"
                    />
                    <q-btn
                        @click="loadLocals"
                        align="between"
                        label="UPLOAD"
                        class="glossy"
                        padding="xl"
                        color="primary"
                        style="border-radius: 10px"
                        icon="eco"
                    />
                </div>
            </div>
            <div v-if="selMode === 'localsMode'">
                <div class="row justify-center">
                    <FileUploader
                        title="Chatbot Master"
                        extension="md"
                        mime="text/markdown"
                        v-model="fileBM"
                    />
                    <FileUploader
                        title="Chatbot FAQ"
                        extension="md"
                        mime="text/markdown"
                        v-model="fileKBS"
                    />
                    <FileUploader
                        title="Respuestas"
                        extension="csv"
                        mime="text/csv"
                        v-model="fileCSV"
                    />
                </div>
                <div
                    class="row justify-center"
                    v-if="fileKBS && fileBM && fileCSV"
                >
                    <q-btn
                        style="padding: 20px"
                        glossy
                        color="purple"
                        icon="school"
                        icon-right="send"
                        label="Continuar..."
                        @click="processFiles"
                    />
                </div>
            </div>
        </div>
        <q-splitter v-if="initOK" v-model="splitterModel">
            <template v-slot:before>
                <Intentions />
            </template>
            <template v-slot:after>
                <Detail />
            </template>
        </q-splitter>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import FileUploader from './FileUploader.vue'
import Intentions from './Intentions.vue'
import Detail from './Detail.vue'

export default {
    name: 'trainer',
    data() {
        return {
            fileKBS: null,
            fileBM: null,
            fileCSV: null,
            splitterModel: 25,
        }
    },
    created() {
        this.initApiSrv()
    },
    methods: {
        ...mapActions('bot', [
            'initApiSrv',
            'loadMocks',
            'loadFiles',
            'loadLocals',
            'processFile',
        ]),
        async processFiles() {
            await this.readFile('KBS')
            await this.readFile('BM')
            await this.readFile('CSV')
        },
        readFile(fileType) {
            return new Promise((resolve, reject) => {
                const kbs = new FileReader()
                kbs.onload = (e) => {
                    const payload = { fileType, result: e.target.result }
                    this.processFile(payload)
                    resolve()
                }
                kbs.readAsText(this[`file${fileType}`])
            })
        },
    },
    computed: {
        ...mapState('bot', ['initOK', 'selMode']),
    },
    components: {
        FileUploader,
        Intentions,
        Detail,
    },
}
</script>

<style scoped>
.title {
    margin-top: 10%;
    text-align: center;
    font-size: 5vw;
    color: gray;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.frameCard {
    width: 80vw;
    height: 400px;
    margin: 30px;
    background: lightgray;
}
</style>
