<template>
    <div>
        <div class="row bg-grey-3 q-pa-sm">
            <div style="margin: auto">INTENCIONES</div>
        </div>
        <div class="row" style="align-items: center; margin-top: 17px">
            <InputBox v-model="filter" title="Filtro" class="col" />
            <q-chip
                icon="event"
                text-color="white"
                color="primary"
                class="totals"
            >
                Total: {{ Object.keys(intenciones).length }}</q-chip
            >
        </div>
        <div class="optionsRow">
            <q-btn-toggle
                v-model="intsFile"
                push
                glossy
                toggle-color="primary"
                :options="[
                    { label: 'Master', value: 'kbs' },
                    { label: 'FAQ', value: 'bm' },
                ]"
            />
            <q-toggle
                color="secondary"
                v-model="filterEdFlag"
                icon="star"
                style="width: 50px"
            >
                <q-tooltip
                    :delay="500"
                    anchor="center left"
                    self="center right"
                    transition-show="scale"
                    transition-hide="scale"
                    :offset="[10, 10]"
                >
                    <div class="tt">Filtro de cambios</div></q-tooltip
                >
            </q-toggle>
        </div>
        <q-scroll-area style="height: 87vh">
            <q-list bordered separator :filter="filter">
                <q-item
                    class="itemRow"
                    clickable
                    v-ripple
                    v-for="(int, i) in intenciones"
                    :key="i"
                    :active="selIntention === int"
                    @click="setSelIntention(int)"
                    active-class="currentIntention"
                >
                    <q-item-section>
                        {{ int.text }}
                    </q-item-section>
                    <q-item-section v-if="int.dirty" avatar>
                        <q-avatar
                            size="sm"
                            color="secondary"
                            text-color="white"
                            icon="star"
                            class="shadow-2"
                        />
                    </q-item-section>
                </q-item>
            </q-list>
        </q-scroll-area>
    </div>
</template>
<script>
import _ from 'lodash'
import InputBox from '../../components/InputBox'
import { mapState, mapMutations } from 'vuex'

export default {
    data() {
        return {
            filter: '',
            intsFile: 'kbs',
        }
    },
    computed: {
        ...mapState('bot', [
            'intentionsKBS',
            'intentionsBM',
            'selIntention',
            'dirtyFlag',
        ]),
        intentions() {
            return this.intsFile === 'kbs'
                ? this.intentionsKBS
                : this.intentionsBM
        },
        intenciones() {
            const filtered = this.intentions.filter(
                (x) =>
                    x.text.toLowerCase().match(this.filter.toLowerCase()) &&
                    (x.dirty === this.dirtyFlag || this.dirtyFlag === false)
            )
            return filtered
        },
        filterEdFlag: {
            get() {
                console.log('get dirtyFlag: ', this.dirtyFlag)
                return this.dirtyFlag
            },
            set(v) {
                console.log('set dirtyFlag:', v)
                this.setDirtyFlag(v)
            },
        },
    },
    methods: {
        ...mapMutations('bot', ['setSelIntention', 'setDirtyFlag']),
    },
    components: {
        InputBox,
    },
}
</script>
<style scoped>
.itemRow {
    min-height: 0;
    padding: 3px 10px;
}
.optionsRow {
    margin: 10px;
    text-align: center;
}
.totals {
    height: 56px;
    border-radius: 3px;
    margin: 0;
}
.currentIntention {
    font-weight: bold;
    background-color: rgb(49, 133, 201);
    color: white;
}
.edited {
    background-color: lightsalmon;
}
</style>
