/* eslint-disable vue/experimental-script-setup-vars */
<template>
  <div
    class="rowGroup"
    @mouseover="showActions = true"
    @mouseleave="showActions = false"
    @click="onSelectGroup(group)"
  >
    <div class="groupPred">
      <q-icon
        size="sm"
        name="timelapse"
        class="predet"
      />
      <div>{{ group.name }}</div>
      <div v-if="group.predetermined">
        <q-icon
          size="sm"
          name="check_circle"
          class="predet"
          :class="{ predetON: group.predetermined }"
        >
          <q-tooltip :delay="800">
            <div class="tt">Predeterminar</div>
          </q-tooltip>
        </q-icon>
      </div>
    </div>
    <div
      class="actionsGroup"
      v-if="showActions"
    >
      <div
        class="action"
        :class="{hideIcon:!showActions}"
      >
        <q-icon
          size="xs"
          name="check_circle"
          class="predet"
          @click="predetermine"
        >
          <q-tooltip :delay="800">
            <div class="tt">Predeterminar</div>
          </q-tooltip>
        </q-icon>
      </div>
      <div
        class="action"
        :class="{hideIcon:!showActions}"
      >
        <q-icon
          size="xs"
          name="content_copy"
          class="clone"
          @click="confirmClone"
        >
          <q-tooltip :delay="1000">
            <div class="tt">Clonar</div>
          </q-tooltip>
        </q-icon>
      </div>
      <div
        class="action"
        :class="{hideIcon:!showActions}"
      >
        <q-icon
          size="sm"
          name="delete_forever"
          class="delete"
          @click="confirmDelete"
        >
          <q-tooltip :delay="1000">
            <div class="tt">Eliminar</div>
          </q-tooltip>
        </q-icon>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  props: ['namespace', 'group'],
  data () {
    return {
      showActions: false
    }
  },
  computed: {
    ...mapState('bandas', ['selectedGroupTemp'])
  },
  methods: {
    ...mapActions({
      setPredeterminedGroup (commit, payload) {
        return commit(this.namespace + '/setPredeterminedGroup', payload)
      },
      saveTimeBands (commit) {
        return commit(this.namespace + '/saveTimeBands')
      }
    }),
    ...mapMutations({
      setSelectedGroup (commit, payload) {
        return commit(this.namespace + '/setSelectedGroup', payload)
      },
      deleteTimeBandGroup (commit, payload) {
        return commit(this.namespace + '/deleteTimeBandGroup', payload)
      },
      cloneTimeBandGroup (commit, payload) {
        return commit(this.namespace + '/cloneTimeBandGroup', payload)
      }
    }),
    onSelectGroup (grp) {
      if (this.selectedGroupTemp.dirty === true) {
        this.$q
          .dialog({
            title: 'Atención',
            message: 'Desea guardar los cambios?',
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
            this.saveTimeBands()
          })
      } else {
        console.log('Group => selected group name:', grp.name)
        this.setSelectedGroup(grp)
      }
    },
    predetermine () {
      this.$q
        .dialog({
          title: 'Atención',
          message: 'Desea predeterminar este grupo?',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.setPredeterminedGroup(this.group.id)
          } catch (error) {
            console.log(error)
          }
        })
        .onDismiss(() => {
          console.log('I am triggered on both OK and Cancel')
        })
    },
    confirmClone () {
      this.$q
        .dialog({
          title: 'Atención',
          message: 'Desea clonar este grupo?',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.cloneTimeBandGroup(this.group.id)
          } catch (error) {
            console.log(error)
          }
        })
        .onDismiss(() => {
          console.log('Clone Dismiss')
        })
    },
    confirmDelete () {
      this.$q
        .dialog({
          title: 'Atención',
          message: 'Desea eliminar este grupo?',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.deleteTimeBandGroup(this.group.id)
          } catch (error) {
            console.log(error)
          }
        })
        .onDismiss(() => {
          console.log('Delete Dismiss')
        })
    }
  }
}
</script>
<style scoped>
  .rowGroup {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 80px;
  }
  .groupPred {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
  .actionsGroup {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hideIcon {
    color: white !important;
  }
  .action {
    color: rgb(121, 121, 121);
  }
  .action:hover {
    text-shadow: 0 0 4px rgb(207, 207, 207);
    transform: scale(1.2) translateY(-1px);
  }
  .addCircle {
    color: rgb(3, 167, 158);
  }
  .predetON {
    color: green;
  }
  .predet:hover {
    color: green;
  }
  .clone:hover {
    color: rgb(255, 190, 10);
  }
  .delete:hover {
    color: red;
  }
  .tt {
    font-size: 14px;
  }
</style>

{

  computed: mapState({
    state (state) {
      return state[this.namespace]
    },
    someGetter (state, getters) {
      return getters[this.namespace + '/someGetter']
    }
  }),

  methods: {
    ...mapActions({
      someAction (dispatch, payload) {
        return dispatch(this.namespace + '/someAction', payload)
      }
    }),
    ...mapMutations({
      someMutation (commit, payload) {
        return commit(this.namespace + '/someMutation', payload)
      })
    })
  }
}
