<template>
    <div>
        <q-input
            filled
            v-model="texto"
            :label="title"
            class="frame"
            @blur="onBlurHandle"
        >
            <template v-slot:append>
                <q-icon
                    v-if="texto !== ''"
                    name="clear"
                    class="cursor-pointer"
                    @click="texto = ''"
                />
            </template>
        </q-input>
    </div>
</template>

<script>
export default {
    props: ['value', 'title'],
    methods: {
        onBlurHandle() {
            // this.$emit('blur', e)
            this.$emit('input', this.value)
        },
    },
    computed: {
        texto: {
            get() {
                console.log('InputBox get value:', this.value)
                return this.value
            },
            set(v) {
                console.log('InputBox set value:', v)
                this.$emit('input', v)
                // this.value = v
            },
        },
    },
}
</script>

<style scoped>
.frame {
    background: #ddd !important;
    border-radius: 0 !important;
}
</style>
