<template>
    <div>
        <q-input
            filled
            :value="texto"
            @input="onInputHandle"
            @blur="onBlurHandle"
            :label="title"
            class="frame"
        >
        </q-input>
    </div>
</template>

<script>
export default {
    props: ['val',
'title'],
    methods: {
        onBlurHandle () {
            this.$emit('blur')
        },
        onInputHandle (e) {
            console.log('InputText onInputChange: ', e)
            this.$emit('input', e)
        }
    },
    computed: {
        texto: {
            get () {
                console.log('InputText get texto:', this.val)
                return this.val
            }
        }
    }
}
</script>

<style scoped>
.frame {
    background: #ddd !important;
    border-radius: 0 !important;
}
</style>
